@define-color bg-color #1c171b;
@define-color text-color #cde4e4;
@define-color accent-color #509e50;
@define-color transparent rgba(0, 0, 0, 0);


* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
}


window#waybar {
    background-color: @transparent;
}

label.module {
    background-color: @bg-color;
    border: solid 0.2rem @accent-color;
    border-radius: 1rem;
    color: @text-color;
    padding: 0.5rem;
}

box.module {
    background-color: @bg-color;
    border: solid 0.2rem @accent-color;
    border-radius: 1rem;
    color: @text-color;
}
